matplotlib==3.10.7
numpy==2.3.4
pandas==2.3.3
plotly==6.0.1
seaborn==0.13.2
streamlit==1.50.0
folium==0.20.0
geopandas==1.1.1
pandas_geojson==2.2.1
Shapely==2.1.2
streamlit_folium==0.25.3
scipy==1.9.1 
statsmodels==0.13.5